{:deps true
 :dev-http {8080 "public"}
 :builds {:app
          {:target :browser
           :modules {:main {:entries [workflow-ui.core]
                            :init-fn workflow-ui.core/init}}
           :devtools {:preloads [preload devtools.preload]}}}}